<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="WorkplaceUrl" value="https://qa.fark.com/app/workplace" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="InternalUrl" value="https://qa.fark.com/app/internal" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
  </appSettings>
</configuration>